*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.overall{
  padding: 2rem 5em;
  background-image: url('/Images/ellipse.png');
  background-position: center;

}

body{
  font-family: sans-serif;
}

.head h1{
  color: rgb(0, 0, 88);
  text-align: center;
}



.contact-detal{
 background-color: rgb(255, 255, 255);
 padding: 2rem 5rem;
 border-radius: 2rem;
 display: flex;
 align-items: center ;
 gap: 10rem;
}
.contd{
  border: 2px solid lightgray;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  width: 14rem;
  height: 12rem;

}
.contd h3{
  font-size: 1em;
  font-weight: 900;
  padding-top: 1.5rem;
  padding-bottom: 0.3rem;
}
.contd p{
  font-size: 0.8em;
  font-weight: 900;
  color: gray;
}

.container1,.container2{
  display: flex;
  gap: 0.5rem;
  color: rgb(0, 0, 70);
}

.contd a{
  font-size: 1em;
  padding-bottom: 10rem;
  color: rgb(0, 0, 103);
}

.log{
  border: 1px solid lightgray;
  width: fit-content;
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
}

.con-hero1 button{
  background-color: rgba(173, 216, 230, 0.455);
  color: darkblue;
  border-radius: 0.4rem;
  border: none;
  font-weight: bolder;
  margin: 1rem 0;
}

.con-hero1 h1{
  font-size: 1.8em;
  font-weight: bolder;
}

.con-hero1 p{
  font-size: 1em;
  font-weight: bolder;
  padding: 1.5rem 0;
}

.logg,.contd a{
  display: flex;
  gap: 1rem;
  padding: 2.5em 0;
  text-decoration: underline;
}

@media screen and (max-width:900px) {
  .contact-detal{
    flex-direction: column;
    padding: 0rem;
    gap: 1rem;
    align-items: flex-start;
  }
}

@media screen and (max-width:900px) {
  .contact-detal{
    flex-direction: column;
    padding: 0rem;
    gap: 1rem;
    align-items: flex-start;
  }
  .overall{
    padding: 1rem;
  }
  .container1,.container2{
    flex-wrap: wrap;
  }

  .contd{
    width: 100%;
    box-shadow: 3px 3px 4px 0.5px rgba(146, 146, 146, 0.155);
  }
}